n8n/workflows/match-google-places.json
{
  "name": "Match Praias — Google Place IDs (único)",
  "nodes": [
    {
      "parameters": {},
      "id": "node-manual",
      "name": "Executar Uma Vez",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, nome, concelho, latitude::float AS latitude, longitude::float AS longitude FROM praias WHERE latitude IS NOT NULL AND longitude IS NOT NULL AND google_place_id IS NULL ORDER BY id LIMIT 100"
      },
      "id": "node-postgres-praias",
      "name": "Buscar Praias",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [220, 300],
      "credentials": {
        "postgres": { "id": "1", "name": "Supabase Postgres" }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": "const p = $input.item.json;\nreturn {\n  json: {\n    praia_id: Number(p.id),\n    praia_nome: String(p.nome),\n    praia_latitude: Number(p.latitude),\n    praia_longitude: Number(p.longitude),\n    textQuery: `${p.nome} ${p.concelho ?? ''} Portugal`\n  }\n};"
      },
      "id": "node-code-prep",
      "name": "Preparar Requisicao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://places.googleapis.com/v1/places:searchText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Goog-Api-Key", "value": "={{ $env.GOOGLE_MAPS_API_KEY }}" },
            { "name": "X-Goog-FieldMask", "value": "places.id,places.displayName,places.location,places.rating,places.userRatingCount" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ textQuery: $json.textQuery, maxResultCount: 1 }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "node-http-places",
      "name": "Pesquisa Google Places",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "mode": "combineByPosition",
        "options": {}
      },
      "id": "node-merge",
      "name": "Mesclar Dados",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [880, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Process all merged items in one pass.\nfunction haversine(lat1, lon1, lat2, lon2) {\n  const R = 6371;\n  const dLat = (lat2 - lat1) * Math.PI / 180;\n  const dLon = (lon2 - lon1) * Math.PI / 180;\n  const a = Math.sin(dLat / 2) ** 2 +\n            Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *\n            Math.sin(dLon / 2) ** 2;\n  return R * 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n}\n\n// Strip accents, lowercase, drop punctuation\nfunction normalize(s) {\n  return String(s ?? '')\n    .toLowerCase()\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/[^a-z0-9\\s]/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\n// Generic words to ignore when comparing beach names to place names\nconst STOPWORDS = new Set([\n  'praia', 'praias', 'beach', 'plage',\n  'norte', 'sul', 'centro', 'este', 'oeste', 'nascente', 'poente', 'leste',\n  'faja', 'cabo', 'porto', 'novo', 'nova', 'velho', 'velha', 'grande', 'pequena'\n]);\n\nfunction significantTokens(s) {\n  return normalize(s).split(' ').filter(t => t.length >= 4 && !STOPWORDS.has(t));\n}\n\nconst out = [];\nlet rejectedDist = 0, rejectedName = 0, accepted = 0;\n\nfor (const inp of $input.all()) {\n  const item = inp.json ?? {};\n  const nomePraia = String(item.praia_nome ?? 'unknown');\n\n  if (item.error) {\n    console.log(`${nomePraia}: API error — ${item.error.message ?? JSON.stringify(item.error)}`);\n    continue;\n  }\n\n  const places = Array.isArray(item.places) ? item.places : [];\n  if (places.length === 0) continue;\n\n  const place = places[0];\n  if (!place || typeof place !== 'object') continue;\n\n  const lat2 = place.location?.latitude;\n  const lon2 = place.location?.longitude;\n  if (typeof lat2 !== 'number' || typeof lon2 !== 'number') continue;\n\n  const lat1 = Number(item.praia_latitude);\n  const lon1 = Number(item.praia_longitude);\n  if (!isFinite(lat1) || !isFinite(lon1)) continue;\n\n  const dist = haversine(lat1, lon1, lat2, lon2);\n  const displayName = place.displayName?.text ?? '';\n\n  // Name-overlap check: at least one significant token from beach name must appear in displayName\n  const beachTokens = significantTokens(nomePraia);\n  const placeNorm = normalize(displayName);\n  const overlap = beachTokens.filter(t => placeNorm.includes(t));\n  const nameOK = beachTokens.length === 0 || overlap.length > 0;\n\n  console.log(`${nomePraia} -> ${displayName}: ${dist.toFixed(2)} km, tokens=[${beachTokens.join(',')}], overlap=[${overlap.join(',')}]`);\n\n  if (dist > 5.0) {\n    console.log(`  REJECTED (distance > 5km)`);\n    rejectedDist++;\n    continue;\n  }\n\n  if (!nameOK) {\n    console.log(`  REJECTED (no name overlap)`);\n    rejectedName++;\n    continue;\n  }\n\n  const placeId = String(place.id ?? '');\n  if (!placeId) continue;\n\n  console.log(`  MATCHED`);\n  accepted++;\n  out.push({\n    json: {\n      id: Number(item.praia_id),\n      google_place_id: placeId,\n      google_rating: place.rating == null ? null : Number(place.rating),\n      google_review_count: place.userRatingCount == null ? null : Number(place.userRatingCount)\n    }\n  });\n}\n\nconsole.log(`Validar e Filtrar: ${accepted} matched, ${rejectedDist} rejected (distance), ${rejectedName} rejected (name) of ${$input.all().length} candidates`);\nreturn out;"
      },
      "id": "node-code-validar",
      "name": "Validar e Filtrar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const matches = $input.all().map(i => i.json);\nconsole.log(`Building SQL UPDATE for ${matches.length} matched beaches`);\n\nif (matches.length === 0) {\n  console.log('No matches found — nothing to update');\n  return [];\n}\n\nconst sqlNullable = (v) => v == null ? 'NULL' : String(v);\n\nconst values = matches\n  .map(m => `(${m.id}, '${m.google_place_id.replace(/'/g, \"''\")}'::text, ${sqlNullable(m.google_rating)}::numeric, ${sqlNullable(m.google_review_count)}::integer)`)\n  .join(',\\n');\n\nconst sql = `\nUPDATE praias\nSET google_place_id = v.place_id,\n    google_rating = v.rating,\n    google_review_count = v.review_count\nFROM (VALUES ${values}) AS v(id, place_id, rating, review_count)\nWHERE praias.id = v.id::integer\n`;\n\nreturn [{ json: { sql, total: matches.length } }];"
      },
      "id": "node-code-agrupar",
      "name": "Agrupar Correspondencias",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}"
      },
      "id": "node-postgres-update",
      "name": "Atualizar Praias",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1540, 300],
      "credentials": {
        "postgres": { "id": "1", "name": "Supabase Postgres" }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Executar Uma Vez": {
      "main": [
        [{ "node": "Buscar Praias", "type": "main", "index": 0 }]
      ]
    },
    "Buscar Praias": {
      "main": [
        [{ "node": "Preparar Requisicao", "type": "main", "index": 0 }]
      ]
    },
    "Preparar Requisicao": {
      "main": [
        [
          { "node": "Pesquisa Google Places", "type": "main", "index": 0 },
          { "node": "Mesclar Dados", "type": "main", "index": 0 }
        ]
      ]
    },
    "Pesquisa Google Places": {
      "main": [
        [{ "node": "Mesclar Dados", "type": "main", "index": 1 }]
      ]
    },
    "Mesclar Dados": {
      "main": [
        [{ "node": "Validar e Filtrar", "type": "main", "index": 0 }]
      ]
    },
    "Validar e Filtrar": {
      "main": [
        [{ "node": "Agrupar Correspondencias", "type": "main", "index": 0 }]
      ]
    },
    "Agrupar Correspondencias": {
      "main": [
        [{ "node": "Atualizar Praias", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "meta": { "templateId": "match-google-places" }
}
